{% extends 'expenses/base.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="{% static 'vendor/css/expenses.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="vr"></div>
<div class="vr"></div>
<div class="title">
    <h1>Добавить траты</h1>
  </div>
<div class="needs-validation form">

  <form class="needs-validation" action="{% url 'expenses:expenses' %}" method="post">
      {% csrf_token %}
<!--      {{ expense_form.as_p }}-->
  <div class="form-row mr-12 ml-12">
    <div class="col-md-4 mb-3">
      <label for="{{ expense_form.name.id_for_label }}">Название</label>
      {{ expense_form.name }}
    </div>
    <div class="col-md-4 mb-3">
      <label for="{{ expense_form.description.id_for_label }}">Описание</label>
      {{ expense_form.description }}
    </div>
<!--    <div class="col-md-4 mb-3">-->
<!--      <label for="validationCustomDate">Дата</label>-->
<!--      <div class="input-group">-->
<!--        <input name='date' type="date" class="form-control" id="validationCustomDate" placeholder="23.09.2000" aria-describedby="inputGroupPrepend" required>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="{{ expense_form.price.id_for_label }}">Сумма</label>
      {{ expense_form.price }}
      <div class="invalid-feedback">
        Please provide a valid date.
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <label for="{{ expense_form.category.id_for_label }}">Категория</label>
      {{ expense_form.category }}
      <div class="invalid-feedback">
        Please provide a valid category.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="{{ expense_form.amount.id_for_label }}">Количество</label>
      {{ expense_form.amount}}
      <div class="invalid-feedback">
        Please provide a valid number.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="{{ expense_form.month.id_for_label }}">Месяц</label>
      {{ expense_form.month }}
      <div class="invalid-feedback">
        Please provide a valid number.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="{{ expense_form.week.id_for_label }}">Неделя</label>
      {{ expense_form.week }}
      <div class="invalid-feedback">
        Please provide a valid number.
      </div>
    </div>


  </div>
  </div>
  <button class="btn btn-primary" name="expense_form" value='expense_form' type="submit">Добавить</button>
</form>
</div>
<div class="vr"></div>
<div class="title"><h1>Траты</h1></div>
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Описание</th>
      <th scope="col">Сумма</th>
      <th scope="col">Месяц</th>
      <th scope="col">Неделя</th>
      <th scope="col">Количество</th>
      <th scope="col">Категория</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for expense in expenses %}
  <tr>
    <td scope="col">
        {{ expense.name }}
    </td>
    <td scope="col">
      {{ expense.description }}
    </td>
    <td scope="col">
      {{ expense.price }}
    </td>
        <td scope="col">
      {{ expense.month }}
    </td>
     <td scope="col">
      {{ expense.week }}
    </td>
        <td scope="col">
      {{ expense.amount}}
          </td>
    <td scope="col">
      {{ expense.category}}
          </td>
    <td scope="col">
      <form action="{% url 'expenses:delete_expense' id=expense.id %}" method="post">
   {% csrf_token %}
   <button class="btn-close" aria-label="Закрыть" type="submit" >
   </button>
</form>
    </td>
  </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}